* {
    font-family: "Readex Pro", sans-serif;
    line-height: 1.75;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
body {
    font-size: 1rem;
    color: #141D28;
    width: 100%;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Readex Pro", sans-serif;
    line-height: 1.75;
}
a {
    text-decoration: none;
}
.fw-600 {
    font-weight: 600;
}
section {
    padding: 4rem 0rem;
}
.navbar {
  background: #fff;
  position: fixed;
  width: 100%;
  border-radius: 0.5rem;
  top: 20px;
  z-index: 1050;
}
.hero-section {
    background: linear-gradient(135deg, #FBD7FF 10%, #FFDEC1 80%);
    padding: 6.5rem 0;
}
.hero-section .req-btn {
    box-shadow: 0px 5.265301704406738px 32.343997955322266px 0px #ffd47859;
    background: #5479F7;
    border-color: #5479F7;
    font-size: .8rem;
}
.hero-section .navbar {
    background: #000;
}
.hero-section .navbar .navbar-brand {
    font-size: 30px;
}
.hero-section .navbar .nav-item {
    padding: 10px 20px;
    align-content: baseline;
}
.hero-section .navbar .nav-link {
    color: #fff;
    margin-left: 0.5rem;
}
.hero-section .fa-bars {
    color: #fff;
    font-size: 30px;
}
  
.hiw-section .card {
    background: #F7F7F7;
    border: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 320px;
    max-height: 320px;
    margin: 1rem auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.flex li{
  margin: 1rem;
}
.hiw-section .card img {
    width: 240px;
    height: 240px;
    margin: 0 auto;
}
@media (max-width: 576px) {
  .navbar {
      left: 0;
      border-radius: 0;
      top: 0;
  }
}
@media (min-width: 576px) {
  .navbar {
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar {
      max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .navbar {
      max-width: 1320px;
  }
}


.product-section .card {
    /* background: linear-gradient(135deg, #fbd7ff96 10%, #ffdec187 80%); */
    background: #F7F7F7;
    border: 0;
    padding: 2.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 320px;
    max-height: 320px;
    margin: 1rem auto;
}
.product-section .card img {
    width: 90px;
    height: 90px ;
    margin: 0 auto;
}
.funding-cate-section {
    background-color: #feddcb36;
    width: 100%;
}
.funding-cate-section .card {
    border-radius: 0.75rem;
    border: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.funding-cate-section .card .icon-box {
    background: linear-gradient(135deg, #FBD7FF 10%, #FFDEC1 80%);
    width: 61px;
    height: 61px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
}
.funding-cate-section .card h5 {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

.contact-section {
    background: linear-gradient(135deg, #FBD7FF 10%, #FFDEC1 80%);
}
.checked {
    color: #5479F7;
}
.bg-linear {
    opacity: 30%;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    z-index: -1;
    width: 60%;    
    background: linear-gradient(90deg, #44FF9A -0.55%, #44B0FF 22.86%, #8B44FF 48.36%, #FF6644 73.33%, #EBFF70 99.34%);
}
.form-check-input:checked {
    background-color: #5479F7;
    border-color: #5479F7;
}
.form-control::placeholder {
    color: #979797;
}
.form-control.text-white:focus {
    color: #fff;
}
.fa-star {
    color: #F59E0B;
}



/* FAQ */

  
  #faq {
    margin: auto;
    /* padding: 0 15px; */
    text-align: center;
  }
  
  section.faq {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  #faq ul {
    text-align: left;
  }
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.3s;
  }
  
  #faq .no-select, #faq h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }
  
  #faq h1 {
    color: #000;
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  #faq h2 {
    color: #cc071e;
    font-family: "Readex Pro", sans-serif;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
    transition: .2s;
  }
  
  #faq p {
    color: #333;
    text-align: left;
    font-family: "Readex Pro", sans-serif;
    font-size: 16px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    max-height: 250px;
    will-change: max-height;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 50px 0 15px;
    transition: .3s opacity, .6s max-height;
    hyphens: auto;
    z-index: 2;
  }
  
  #faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #faq ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
  }
  #faq ul li + li {
    margin-top: 15px;
  }
  #faq ul li:last-of-type {
    padding-bottom: 0;
  }
  #faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
  }
  #faq ul li i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: #cc071e;
    width: 3px;
    height: 9px;
  }
  #faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  #faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }
  #faq ul li input[type=checkbox]:checked ~ h2 {
    color: #000;
  }
  #faq ul li input[type=checkbox]:checked ~ p {
    /*margin-top: 0;*/
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);*/
  }
  #faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }
  
  a {
    color: currentColor;
    transition: .2s ease-in-out;
  }
  
  h1, h2, h3, h4 {
    margin: .3em 0;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  /* img {
    vertical-align: middle;
    height: auto;
    width: 100%;
  }  */

  #sam{
    margin-top: 20px;
    width: 210px !important;
    height: 200px !important;
  }

  #sam-img{
    margin-top: 30px;
    width: 200px !important;
    height: 170px !important;
    margin-bottom: 20px;
  }

  .top-5{
    margin-top: 5rem !important;
  }

  .count-section {
    font-size: .8rem !important;
  }

 
  .dash{
    justify-content: center !important;
    text-align: center !important;
  }


  .width{
    width: 100% !important;
    margin-top: -2rem;
  }

  .count-bottom{
    margin-top: 4rem !important;
    margin-bottom: -5rem !important;
  }


  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% ;
}

.modal-content {

    background-color: #fefefe;
    margin: 20% auto;
    margin-top: 8%;
    padding: 10px;
    border: 1px solid #888;
    width: 700px;
    height: 600px !important;
    border-radius: 5px;
    padding-bottom: 5rem;
    overflow: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
    
    .globe_image {
        width: 40%;
        height: auto;
    }
}

.modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-form {
    flex: 1;
}

.image-container {
    flex: 1;
    /* display: flex; */
    justify-content: flex-end;
    padding-right: 10px;
}

.image-container img {
    max-width: 100%;
}

/* Hide the image on screens smaller than 600px */
@media (max-width: 900px) {
    .image-container {
        display: none;
    }

    .model-card {
        padding: 40px;
        padding-top: 30px;
    }
}

@media (min-width: 900px) {
    .model-card {
        padding: 50px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px){
    .model-card {
        padding: 50px;
        margin-top: 0px;
    }
}

.ui_button {
    background-color: #5479F7;
    border: 2px solid #5479F7;
    box-shadow: inset 0 0 0 0 #5479F7;
    color: #fff;
    padding-bottom: 4px;
    padding-top: 4px;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 1px;
    border-radius: 53px;
    width: 100%;

}

.form-tem {
    padding: 20px;
}

.input_box {
    width: 100%;
    border-radius: 7px;
    border-width: 1px;
}

.h3,
.h3-small-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    overflow-wrap: break-word;
}

.row1{
    text-align:center;
    margin:0 auto;
}

.row1 .col-md-3{
   display:inline-block;
   vertical-align: middle;
   float: none;
}

.logo-pop{
  position: absolute;
  right: 0;
  width: 250px;
  margin: 2rem;
  margin-top: -3rem;
}

.count-section{
  background-color: #44B0FF;
  margin: auto !important;
  width: 100% !important;
}

.stats{
  background: linear-gradient(135deg, #FBD7FF 10%, #FFDEC1 80%);
  width: 100%;
}

.cards {
  background: #F7F7F7;
  border-radius: 8px;
  cursor: pointer;
  height: 270px;
  margin: 10px;
  padding: 70px 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 180px;

}
@media (max-width: 767px) {
  .cards {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }

  .footer{
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
  }

  .flex{
    flex-direction: column !important;
  }

  .d-flex{
     margin: 1rem 0 !important;
     justify-content: center !important;
    }

    .dash{
      margin-left: 0rem !important;
    }

    .count-bottom{
      justify-content: center !important;
      padding: 0rem !important;
      margin: 0rem !important;
    }

    .item-count{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 2rem;
    }


    .width{
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      text-align: center !important;
      margin-top: -2rem !important;
    }



    body{
      width: 100% !important;
      overflow-x: hidden !important;
    }

    .message-box {
      width: 100%;
      margin-left: auto !important;
      margin-right: auto !important;
      left: 0 !important;
    }

    .abt-flex{
      margin: 0;
      padding: 0;
    }

    .logo-pop{
      right: 2rem;
      margin: 0rem;
      margin-top: 0rem;
    }
    
    .abt-content{
      width: 100% !important;
    }
    
    .abt-img img{
      width: 100%;
    }
    .abt-img{
      width: 100%;
    }

    .footer-logo{
      margin-top: 3rem !important;
    }

    .fund-flex{
      margin-left: 0px !important;
      justify-content: center;
    }

    .funding-cate-section{
      margin: 0 !important;
      padding: 0 !important;
      width: 100% !important;
      overflow-x: hidden !important;
    }
    
    .fund-card{
      width: 350px !important;
      margin: auto !important;
      padding: 1rem auto !important;
      margin-bottom: 1rem !important;
    }
    
    .fund-cont{
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    .client-section{
      margin-left: -20px !important;
      overflow-x: hidden;
    }

    .assetClicked{
      margin: 1rem !important;
    }
    
  }
.cards.expanded {
  height: 350px;
  padding: 30px 5px;
  transition: .5s ease-in-out;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.cards.expanded .label {
  transform: translateY(0);
}
.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
  opacity: 0;
}
.cards.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  opacity: 1;
}
.text2 {
  clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  transition: clip-path 1000ms;
  opacity: 0;
}
.cards.expanded .text2 {
  clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
  opacity: 1;
}
.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.cards.expanded .text-content {
  transform: translateY(-15px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}
.cards.expanded .chevron {
  transform: rotate(0deg);
}
.title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}
.body-text {
  padding: 0 5px;
  font-size: 1rem;
}

.sam{
  justify-content: center !important;
}

.message-box {
  position: relative;
  top: 0px;
  margin: 0;
  left: -40%;
  padding: 20px 20px;
  width: 290px;
  height: 200px;
  border-radius: 15px;
  background: #555;
  color: white;
  transition: .3 ease-out;
}

.message-box:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  content: "";
  border: solid transparent;
	border-bottom-color: #555;
	border-width: 10px;
  transition: .3 ease-out;
}

.message {
  background-color: #333;
  color: #A4F4A4;
  font-family: Chalkboard;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: .3 ease-out;
}

/* .stat-color{
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
} */

.abt-flex{
  justify-content: space-between;
}


.abt-content{
  width: 50%;
}

.abt-img img{
  width: 450px;
}
.abt-img{
  width: 40%;
}

.stat-flex{
  justify-content: space-between !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 5rem 0 !important;
}

.assetClicked{
  margin: 5rem !important;
}

.footer{
  margin: 0 !important;
  padding: 2rem 0 !important;
}

.fund-flex{
  margin-left: 10px !important;
  justify-content: space-between;
}

.fund-card{
  padding: 0 !important;
  width: 32%;
  margin-bottom: 2rem;
}

.fund-cont{
  padding: 0 !important;
}

.client-cont{
  margin-left: 10px !important;
}

.r-img, .l-img{
  width: 900px !important;
  height: 900px !important;
  object-fit: cover !important;
}